body {
	background-image: url(../images/vegetables.jpg);
}
#container {
	position: relative;
	margin: auto;
	top: 200px;
	width: 250px;
	height: 400px;
	color: white;
	font-weight: bolder;
	background-color: black;
	padding: 2em;
}
a:link {
	color: #FF0000;
	text-decoration: none;
}
a:visited {
	color: #00FF00;
}
a:hover {
	color: #FF00FF;
}
a:active {
	color: #0000FF;
}